{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}H_tem_invest Reset password{% endblock %}
{% block content %}
    <section class="section-style site-auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-8 col-md-12">
                    <div class="auth-content">
                        <div class="logo">
                            <!-- <a href="index.html"><img src="{% static 'accounts/assets/global/images/W3m9vDkJrQRDf7TOPqK4.png' %}" alt=""/></a> -->
                            <a href=""><img src="{% static 'assets/images/logo/htech.png' %}" alt=""/></a>
                        </div>
                        <div class="title">
                            <h2> Password Reset Confirmation</h2>
                            <p>Reset your Password</p>
                        </div>



                        <div class="site-auth-form">

                            {% if form.errors %}
<!--                                <div class="alert-danger text-center mb-3">{{message}}</div>-->
                                {{ form.errors }}
                            {% endif %}
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}
                            <form method="POST">

                                {% csrf_token %}
                                <input type="hidden" name="_token" value="Agjau3ezegZxPz29AhgZWagd6IqlkfzjxYVCXjbj">
                                <!-- Email Address -->

                                <div class="single-field">
                                    <label class="box-label" for="email">New Password</label>
                                    <input
                                        class="box-input"
                                        type="password"
                                        name="new_password1"
                                        placeholder="Enter your new password"
                                        required
                                        value=""
                                    />
                                </div>

                                <div class="single-field">
                                    <label class="box-label" for="email">Confirm password</label>
                                    <input
                                        class="box-input"
                                        type="password"
                                        name="new_password2"
                                        placeholder="Confirm the password"
                                        required
                                        value=""
                                    />
                                </div>


                                <button type="submit" class="site-btn grad-btn w-100">
                                    Password Reset
                                </button>
                            </form>

                            <div class="singnup-text">
                                <p>Already have an account? <a
                                        href="{% url 'accounts:login' %}">Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}