{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}H_tem_invest Reset password{% endblock %}
{% block content %}
    <section class="section-style site-auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-8 col-md-12">
                    <div class="auth-content">
                        <div class="logo text-center">
                            <!-- <a href="index.html"><img src="{% static 'accounts/assets/global/images/W3m9vDkJrQRDf7TOPqK4.png' %}" alt=""/></a> -->
                            <a href=""><img src="{% static 'assets/images/logo/htech.png' %}" alt=""/></a>
                        </div>
                        <div class="title">
                            <h2> Password Reset</h2>
                            <p>An Email has been sent to you. Click on the link inside the email to reset your password</p>
                        </div>



                        <div class="site-auth-form">




                            <div class="singnup-text">
                                <p>Resent email? <a
                                        href="{% url 'accounts:password_reset' %}">click here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}