<!--Side Nav-->
    <div class="side-nav">
    <div class="side-nav-inside">
        <ul class="side-nav-menu">
            <li class="side-nav-item active">
                <a href="https://trustrade.site/user/dashboard"><i
                        class="anticon anticon-appstore"></i><span>Dashboard</span></a>
            </li>


            <li class="side-nav-item ">
                <a href="https://trustrade.site/user/transactions"><i
                        class="anticon anticon-inbox"></i><span>All Transactions</span></a>
            </li>


            <li class="side-nav-item   ">
                <a href="https://trustrade.site/user/deposit"><i
                        class="anticon anticon-file-add"></i><span>Add Money</span></a>
            </li>
            <li class="side-nav-item ">
                <a href="https://trustrade.site/user/deposit/log"><i
                        class="anticon anticon-folder-add"></i><span>Add Money Log</span></a>
            </li>

<!--            <li class="side-nav-item ">-->
<!--                <a href="https://trustrade.site/user/wallet-exchange"><i-->
<!--                        class="anticon anticon-transaction"></i><span>Wallet Exchange</span></a>-->
<!--            </li>-->

<!--            <li class="side-nav-item   ">-->
<!--                <a href="https://trustrade.site/user/send-money"><i-->
<!--                        class="anticon anticon-export"></i><span>Send Money</span></a>-->
<!--            </li>-->
<!--            <li class="side-nav-item ">-->
<!--                <a href="https://trustrade.site/user/send-money/log"><i-->
<!--                        class="anticon anticon-cloud"></i><span>Send Money Log</span></a>-->
<!--            </li>-->

            <li class="side-nav-item   ">
                <a href="https://trustrade.site/user/withdraw"><i
                        class="anticon anticon-bank"></i><span>Withdraw</span></a>
            </li>
            <li class="side-nav-item ">
                <a href="https://trustrade.site/user/withdraw/log"><i
                        class="anticon anticon-credit-card"></i><span>Withdraw Log</span></a>
            </li>



                            <li class="side-nav-item ">
                    <a href="https://trustrade.site/user/referral"><i
                            class="anticon anticon-usergroup-add"></i><span>Referral</span></a>
                </li>

            <li class="side-nav-item ">
                <a href="https://trustrade.site/user/settings"><i
                        class="anticon anticon-setting"></i><span>Settings</span></a>
            </li>
<!--            <li class="side-nav-item ">-->
<!--                <a href="https://trustrade.site/user/support-ticket/index"-->
<!--                ><i class="anticon anticon-tool"></i><span>Support Tickets</span></a-->
<!--                >-->
<!--            </li>-->
            <li class="side-nav-item">
                <!-- Authentication -->
                <form method="POST" action="https://trustrade.site/logout">
                    <input type="hidden" name="_token" value="m3z3FEa3b91Ybt4jZBS5T9wbQxzZmg8WH5YukKRh">                    <button type="submit" class="site-btn grad-btn w-100">
                        <i class="anticon anticon-logout"></i><span>Logout</span>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>
    <!--/Side Nav-->