{% load static %}
<script src="{% static 'assets/global/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/global/js/jquery-migrate.js' %}"></script>

<script src="{% static 'assets/frontend/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/frontend/js/scrollUp.min.js' %}"></script>

<script src="{% static 'assets/frontend/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/global/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets/frontend/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/frontend/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/frontend/js/lucide.min.js' %}"></script>
<script src="{% static 'assets/frontend/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/frontend/js/aos.js' %}"></script>
<script src="{% static 'assets/global/js/datatables.min.js' %}" type="text/javascript" charset="utf8"></script>
<script src="{% static 'assets/frontend/js/main830b.js' %}"></script>
<script src="{% static 'assets/frontend/js/cookie.js' %}"></script>
<script src="{% static 'assets/global/js/custom830b.js' %}"></script>