<!DOCTYPE html>
<html>
<head>
    {% include 'partials/_header.html' %}
    <style>
    .site-head-tag {
        margin: 0;
        padding: 0;
    }
    .errorlist li{
        text-align:center;
        color:red;
        margin-bottom:5px;
    }
    </style>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <script>
      var notify = {
          timeout: "5000",
      }
  </script>

  {% block content %}
  {% endblock %}

  {% include 'partials/_scripts.html' %}
  {% block others_scripts %} {% endblock %}
</body>
</html>