{% extends 'users/layouts/base.html' %}
{% load static %}

{% block content %}
    {% include 'users/partials/_prices.html' %}
    <div class="row pb-30">
        <div class="col-xl-6">
            <div class="earn-item mb-30">
                <div class="earn-thumb">
                    <img src="{% static 'assets/images/dashboard/earn/01.png' %}" alt="dashboard-earn">
                </div>
                <div class="earn-content">
                    <h6 class="title">Active deposits in the amount of</h6>
                    <ul class="mb--5">
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/usd.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.00</span>
                                <span class="cl-4">USD</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/btc.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">BTC</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/xrp.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">XRP</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/eth.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">ETH</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="earn-item mb-30">
                <div class="earn-thumb">
                    <img src="{% static 'assets/images/dashboard/earn/02.png' %}" alt="dashboard-earn">
                </div>
                <div class="earn-content partner-content d-flex flex-wrap align-items-start justify-content-between">
                    <h6 class="title w-100">All partners</h6>
                    <ul class="mb--5">
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/active.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-4">Active :</span>
                                <span class="cl-1">{{ active_partner|length|default:0 }}</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/inactive.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-4">Inactive :</span>
                                <span class="cl-1">{{ inactive_partner|default:0 }}</span>
                            </div>
                        </li>
                    </ul>
                    <div class="total-partner">
                        <span class="total-title">{{partners|length|default:0}}</span>
                        <span>Total</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="earn-item mb-30">
                <div class="earn-thumb">
                    <img src="{% static 'assets/images/dashboard/earn/03.png' %}" alt="dashboard-earn">
                </div>
                <div class="earn-content">
                    <h6 class="title">Earned Referral</h6>
                    <ul class="mb--5">
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/usd.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.00</span>
                                <span class="cl-4">USD</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/btc.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">BTC</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/xrp.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">XRP</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/eth.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">ETH</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="earn-item mb-30">
                <div class="earn-thumb">
                    <img src="{% static 'assets/images/dashboard/earn/04.png' %}" alt="dashboard-earn">
                </div>
                <div class="earn-content">
                    <h6 class="title">Earned Deposits</h6>
                    <ul class="mb--5">
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/usd.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.00</span>
                                <span class="cl-4">USD</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/btc.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">BTC</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/xrp.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">XRP</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/eth.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">ETH</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="earn-item mb-30">
                <div class="earn-thumb">
                    <img src="{% static 'assets/images/dashboard/earn/05.png' %}" alt="dashboard-earn">
                </div>
                <div class="earn-content">
                    <h6 class="title">Payout</h6>
                    <ul class="mb--5">
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/usd.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.00</span>
                                <span class="cl-4">USD</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/btc.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">BTC</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/xrp.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">XRP</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/eth.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.000000</span>
                                <span class="cl-4">ETH</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-6">
            <div class="earn-item small-thumbs mb-30">
                <div class="earn-thumb">
                    <img src="{% static 'assets/images/dashboard/earn/06.png' %}" alt="dashboard-earn">
                </div>
                <div class="earn-content">
                    <h6 class="title">Latest Registered Partner</h6>
                    <ul class="mb--5">
                        <li>
                            <div class="cont w-100 p-0">
                                <span class="cl-1">{{request.user.user_partner.first_partern_added}}</span>
                                <a href="Mailto:demo@mail.com" class="cl-4">Email: <span class="__cf_email__" data-cfemail="f59190989ab598949c99db969a98">[email&#160;protected]</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="earn-item small-thumbs mb-30">
                <div class="earn-thumb">
                    <img src="{% static 'assets/images/dashboard/earn/07.png' %}" alt="dashboard-earn">
                </div>
                <div class="earn-content">
                    <h6 class="title">The last Referral Calculation</h6>
                    <ul class="mb--5">
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/dashboard/earn/usd.png' %}" alt="dashboard-earn">
                            </div>
                            <div class="cont">
                                <span class="cl-1">0.00</span>
                                <span class="cl-4">USD</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
    
{% endblock content %}
    
    

