
{% extends 'users/layouts/base.html' %}
{% load static %}

{% block content %}

            {% if form.errors %}
                <div class="alert-danger MB-5">{{ form.errors }}</div>
            {% endif %}
            {% include 'partials/_messages.html' %} 

<div class="container-fluid deposit-system">
    <h5 class="main-subtitle mb-5">Make a deposit </h5>

            <!-- {% include 'partials/_messages.html' %} --> 
    <div class="calculate-wrapper tab">
        <div class="calculate--area">
            {% if form.errors %}
                <div class="alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}

            
            {% if forms.errors %}
                {% for field in form %}
                    <div class="alert danger">{{ field.errors }}</div>
                {% endfor %}
            {% endif %}

            <form action="" method="post" enctype="multipart/form-data">

                {% csrf_token %}

            <div class="calculate-area">

                <div class="calculate-item">
                    <h6 class="title">Choose the file of transaction </h6>
                   <input type="file" class="form-control" name="image">
                </div>
                <div class="calculate-item">
                    <h6 class="title">Select the Payment method</h6>
                    <ul class="tab-menu">
                        <li id="momo">momo</li>
                        <li id='om' class="active">om</li>
                        <li id="tron" >tron</li>
                        <li id="usdt" >usdt</li>
                    </ul>
                    <input type="text" id="payment_method" hidden name="payment_method" value="">
                </div>
                <div class="calculate-item">
                    <h6 class="title">Enter the amount</h6>
                    <input type="number" value="5700" name="amount">
                </div>
                <!-- <div class="calculate-item">
                    <h5 class="title" data-serial="03">Select the file of transaction</h5>
                    <input type="file">
                </div> -->
            </div>
            <div class="tab-area">
                
                {% for service in services %}
                    <div class={% if service.name == 'OM' %}"tab-item active"{% else %}"tab-item"{% endif %}>
                        <div class="profit-calc">
                            <div class="item">
                                <span class="cate">NUMBER </span>
                                <h4 class="title cl-theme-1">{{service.account_number}}</h4>
                            </div>
                            <div class="item">
                                <span class="cate">NAME </span>
                                <h4 class="title cl-theme">{{ service.name_account }}</h4>
                            </div>
                        </div>
                        <div class="invest-range-area">
                            <button type="submit" class="custom-button">Make Deposit</button>
                        </div>
                    </div>
                {% endfor %}
                    
            </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}
        
