
{% extends 'users/layouts/base.html' %}
{% load static %}

{% block content %}
            {% include 'users/partials/_prices.html' %}
            <div class="operations">
                <h4 class="main-title">Operations</h4>
                <form class="operation-filter">
                    <div class="filter-item">
                        <label for="date">Date from:</label>
                        <input type="date" placeholder="Date from">
                    </div>
                    <div class="filter-item">
                        <label for="date">Date To:</label>
                        <input type="date" placeholder="Date from">
                    </div>
                    <div class="filter-item">
                        <label>Operation:</label>
                        <div class="select-item">
                            <select class="select-bar">
                                <option value="o1">Add funds</option>
                                <option value="o2">Withdraw funds</option>
                                <option value="o4">Deposit funds</option>
                                <option value="o3">Transfer funds</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-item">
                        <label>Status:</label>
                        <div class="select-item">
                            <select class="select-bar">
                                <option value="p1">Prepared</option>
                                <option value="p2">Prepared</option>
                                <option value="p3">Prepared</option>
                                <option value="p4">Prepared</option>
                                <option value="p5">Prepared</option>
                                <option value="p6">Prepared</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-item">
                        <button type="submit" class="custom-button">Filter</button>
                    </div>
                </form>
                <div class="table-wrapper">
                    <table class="transaction-table">
                        <thead>
                            <tr>
                                <th>DATE AND TIME</th>
                                <th>OPERATION</th>
                                <th>payment method</th>
                                <th>Amount</th>
                                <th>STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for transaction in user_transactions %}
                                <tr>
                                    <td>
                                        <i class="far fa-calendar"></i> {{transaction.date}}
                                    </td>
                                    <td>
                                        {{transaction.operation}}
                                    </td>
                                    <td>
                                        {{transaction.payment_method}}
                                    </td>
                                    <td>
                                        {{transaction.amount}}
                                    </td>
                                    <td>
                                        {{transaction.status}}
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td>
                                    <i class="far fa-calendar"></i> Feb 14, 2020 20:53
                                </td>
                                <td>
                                    Add funds
                                </td>
                                <td>
                                    <img src="assets/images/dashboard/earn/btc2.png" alt="dashboard-earn"> BTC
                                </td>
                                <td>
                                    0.000591
                                </td>
                                <td>
                                    Prepeared
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="pagination-area d-flex flex-wrap justify-content-between align-items-center">
                    <div class="pagination-cont">
                        Showing 1 to 5 of 22 entries
                    </div>
                    <ul class="pagination">
                        <li>
                            <a href="#0"><i class="fas fa-angle-left"></i></a>
                        </li>
                        <li>
                            <a href="#0">01</a>
                        </li>
                        <li>
                            <a href="#0" class="active">02</a>
                        </li>
                        <li>
                            <a href="#0">03</a>
                        </li>
                        <li>
                            <a href="#0"><i class="fas fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        
            {% endblock %}