
{% extends 'users/layouts/base.html' %}
{% load static %}

{% block content %}
        <!-- {% include 'users/partials/_prices.html' %} -->
        <div class="deposit">
            <h4 class="main-title">Withdraw Funds</h4>
            <div class="deposit-system pt-0">

                <div class="container-fluid deposit-system">
                    <div class="calculate-wrapper tab">

                        <form action="" method="post" enctype="multipart/form-data">

                            {% csrf_token %}

                        <div class="calculate--area">

                            <div class="calculate-area">
                                <!-- <div class="calculate-item">
                                    <h5 class="title" data-serial="01">Select the plan</h5>
                                    <select class="select-bar">
                                        <option value="01">120% daily for 50 days</option>
                                        <option value="02">110% daily for 30 days</option>
                                        <option value="03">105% daily for 20 days</option>
                                        <option value="04">102% daily for 10 days</option>
                                        <option value="05">101% daily for 5 days</option>
                                    </select>
                                </div> -->
                                <div class="calculate-item">
                                    <h6 class="title">Enter your phone number</h6>
                                    <input type="number" name="phone_to_send">
                                </div>
                                <div class="calculate-item">
                                    <h6 class="title">Select the Payment method</h6>
                                    <ul class="tab-menu">
                                        <li>momo</li>
                                        <li class="active">om</li>
                                        <li>tron</li>
                                        <li>usdt</li>
                                    </ul>
                                    <input type="text" id="payment_method" hidden name="payment_method" value="">
                                </div>
                                <div class="calculate-item">
                                    <h6 class="title">Enter the amount</h6>
                                    <input type="number" value="3500" name="amount">
                                </div>
                            </div>
                            <div class="tab-area">
                                
                                {% for service in services %}
                                    <div class={% if service.name == 'OM' %}"tab-item active"{% else %}"tab-item"{% endif %}>
                                        <div class="invest-range-area">
                                            <button type="submit" class="custom-button">Make Deposit</button>
                                        </div>
                                    </div>
                                {% endfor %}
                                    
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
        </div>
{% endblock %}