
{% extends 'users/layouts/base.html' %}
{% load static %}

{% block content %}
            {% if form.errors %}
                <div class="alert-danger MB-5">{{ form.errors }}</div>
            {% endif %}
            {% include 'partials/_messages.html' %} 
        <!-- {% include 'users/partials/_prices.html' %} -->
        <div class="deposit">
            <h4 class="main-title">Withdraw Funds</h4>
            <div class="deposit-system pt-0">

                <div class="container-fluid deposit-system">
                    <div class="calculate-wrapper tab">

                        <form action="" method="post">

                            {% csrf_token %}

                        <div class="calculate--area">

                            <div class="calculate-area">
                                <div class="calculate-item">
                                    <h6 class="title">Enter your phone number</h6>
                                    <input type="number" name="phone_to_send">
                                </div>
                                <div class="calculate-item">
                                    <h6 class="title">Select the Payment method</h6>
                                    <ul class="tab-menu">
                                        <li id="momo">momo</li>
                                        <li id="om" class="active">om</li>
                                        <li id="tron">tron</li>
                                        <li id="usdt">usdt</li>
                                    </ul>
                                    <input type="text" id="payment_method" hidden name="payment_method" value="">
                                </div>
                                <div class="calculate-item">
                                    <h6 class="title">Enter the amount</h6>
                                    <input type="number" value="3500" name="amount">
                                </div>
                            </div>
                            <div class="tab-area">
                                
                                {% for service in services %}
                                    <div class={% if service.name == 'OM' %}"tab-item active"{% else %}"tab-item"{% endif %}>
                                        <div class="invest-range-area">
                                            <button type="submit" class="custom-button">Make Deposit</button>
                                        </div>
                                    </div>
                                {% endfor %}
                                    
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
        </div>
{% endblock %}